
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<h3>Misc Websites:</h3>

<ul>
    <li><a href="https://www.google.com">Google</a></li>
    <li><a href="https://www.youtube.com">Youtube</a></li>
    <li><a href="https://www.github.com">Github</a></li>
</ul>